.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .wide-modal {
  max-width: 90% !important; 
}

.wide-modal .modal-content {
  overflow:auto;
  min-height: 80vh; 
} */
.my-wide-modal {
  max-width: 90% !important;   /* Bootstrap 기본 500px 덮어쓰기 */
  width: 90% !important;       /* 확실하게 강제 */
}

.my-wide-modal .modal-content {
  width: 100% !important;      /* 내부 content도 늘려주기 */
}